<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrowerInfo</title>
    <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="App">
        <div class='bw'>
            <div class='hd'>
                Your Browser Information
            </div>
            <div class='info'>
              
                    
                     <div class="each-task">
                      <h3> Your ip Address is : <%= ip%></h3>
                      <h3> Your are using  a <%= os%> operating system </h3>
                      <h3> Your Brower Type is : <%= bt%></h3>
                     
                      <h3> Your Brower Type is : <%= browser%></h3>
                      <h3> Your viewport is : <%= viewp%></h3>
                     
                     
                     </div>
                     
             
                   
               
            </div>
           
          </div>
       
       </div>
     );
</body>
</html>